<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between">
        <% var loggedin= typeof loggedin !=="undefined"?loggedin:true %>
       <% if(loggedin){%>
        <a class="px-20 py-2" href="#home-sec">
            <img
              src="/images/brandlogo.png"
              alt="Company Logo"
              id="header-img"
              class="w-36 h-20"
            />
          </a>
        <div class="flex gap-5 py-7 px-20">
            <a href="/"></a>
            <a href="/shop">Shop</a>
            <a href="/cart">Cart</a>
            <a href="/profile">My Account</a>
            <a class="text-red-600" href="/users/logout">Logout</a>
          </div>
       <%} %>
        
    </nav>